<h1>My Tasks</h1>
<ul>
<% @tasks.each do |task| %>
<li>
<%= link_to "#{task.title}", task_path(task.id) %>
</li>
<% end %>
</ul>
<%= link_to "create a new task", tasks_new_path %>




<%# <%= link_to restaurant.name , restaurant_path(restaurant)  %>
      <%# <%= link_to "X", restaurant_path(restaurant), method: :delete, data: {confirm: "Are you sure?"} %>
